.menubar {
  width: 100vw;
}

.menubar.menu-close {
  width: 0;
}

.main-container {
  width: 0;
  min-height: calc(100vh - 3rem);
}

.main-container.menu-close {
  width: 100%;
}

@media (min-width: 768px) {
  .menubar {
    width: 20%;
  }

  .main-container {
    width: 80%;
  }
}
